.ipynb_checkpoints
raw/*
warped/*
flipped/raw/*
flipped/warped/*
flipped/rotated/raw/*
flipped/rotated/warped/*
rotated/raw/*
rotated/warped/*

!raw/021668.jpg
!warped/021668.jpg
!flipped/raw/021668_flipped.jpg
!flipped/warped/021668_flipped.jpg
!flipped/rotated/raw/021668_flipped_-5.jpg
!flipped/rotated/warped/021668_flipped_-5.jpg
!rotated/raw/021668_8.jpg
!rotated/warped/021668_8.jpg